<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_(u"Disclaimer")}</%block>

<div class="user-agreement-box">
    <h3>免责声明</h3>
    <h4>总则</h4>
    <p>
      英荔商学院（www.EliteMBA.cn）的产品及服务由广东英荔国际教育科技有限公司（以下简称「英荔」或「我们」）提供。本免责声明（以下简称「本声明」）适用于英荔的网站、在计算机/手机/平板电脑或其他设备上使用的英荔的应用程序和其他产品及服务。英荔用户（以下简称「您」或「用户」）在接受英荔服务之前，<strong>请务必仔细阅读本条款并同意本声明。其中，重要内容将以加粗形式提示您注意，您应重点阅读。</strong>
    </p>
    <p>您直接或通过各类方式（如站外 API 引用等）间接使用英荔服务和数据的行为，都将被视作已无条件接受本声明所涉全部内容；若您对本声明的任何条款有异议，请停止使用英荔所提供的全部服务。</p>
    <p>本免责声明可由英荔随时修正或更改，英荔将公布并更新生效日期。更新后的免责声明一旦公布即有效代替原来的声明，您继续使用英荔服务即表示您同意并接受本声明及其任何更新版本。</p>
    <h4>第一条</h4>
    <p>
      您以各种方式使用英荔服务和数据（包括但不限于宣传介绍、转载、浏览及利用英荔发布内容）的过程中，<strong>不得以任何方式利用英荔直接或间接从事违反中华人民共和国法律法规，以及社会公德的行为。您应当恪守下述承诺：</strong>
    </p>
    <p>1. 不得干扰、损害和侵犯英荔的各种合法权利与利益；</p>
    <p>2. 不得干扰、损害和侵犯其他英荔用户的各种合法权利与利益；</p>
    <p>4. 遵守英荔以及与之相关的网络服务的协议、指导原则、管理细则等；</p>
    <p>5. 英荔有权对违反上述承诺的内容予以删除。</p>
    <h4>第二条</h4>
    <p><strong>1. 因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致用户不能正常使用本网站，英荔不承担任何法律责任。</strong></p>
    <p><strong>2. 英荔对本免责声明享有最终解释权。</strong></p>
    <p>请您在发现任何违反本声明以及其他任何条款、英荔各类公告之情形时，通知我们。如您对本协议、产品或服务有任何意见、建议或疑问，欢迎通过以下方式向我们反馈。</p>
    <ul>
      <li>电话：400-931-8118（周一至周五 9:00 - 18:00）</li>
      <li>邮箱：support@elitemba.cn</li>
      <li>地址：广州市天河区天河北路 233 号中信广场写字楼 1005 室</li>
      <li>邮政编码：510620</li>
    </ul>
    <p>本免责声明生效日期：2019 年 12 月 13 日</p>
  </div>