<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_(u"User Agreement")}</%block>

<div class="user-agreement-box">
    <h3>用户协议</h3>
    <h4>一、服务条款</h4>
    <p>
      英荔商学院（www.EliteMBA.cn）的产品及服务由广东英荔国际教育科技有限公司（以下简称「英荔」或「我们」）提供。本用户协议（以下简称「本协议」）适用于英荔的网站、在计算机/手机/平板电脑或其他设备上使用的英荔的移动应用程序和其他产品及服务。本协议内容可由英荔不定期修改、变更。用户协议一旦发生更改，我们将随即于网站及移动应用程序上公布并更新生效日期。修改后的用户协议一旦公布即有效代替原来的用户协议。
    </p>
    <p>
      为了更好地为您服务，<strong>请您在开始使用英荔的网站及提供的各项服务之前，认真阅读并充分理解本协议的内容</strong>，特别是涉及免除或者限制责任的条款、权利许可和信息使用的条款及法律适用和争议解决的条款等。其中，重要内容将以加粗形式提示您注意，您应重点阅读。<strong>如您不同意本协议及/或随时对其的修改，您可选择停止访问、使用英荔网站、移动应用程序及相关服务；您一旦勾选同意以及点击注册，或继续访问、使用我们的网站、移动应用程序及相关服务，即视为您已充分理解并完全同意本协议</strong>（包括我们对本协议所做的任何修改）<strong>以及其他与英荔网站、移动应用程序及相关服务有关的协议和规则</strong>（包括但不限于英荔的《隐私政策》《免责声明》）<strong>的约束，并成为英荔用户</strong>（以下简称「您」或「用户」）。
    </p>
    <h4>二、服务说明</h4>
    <p>
      我们目前通过网站及移动应用程序等形式向您提供英荔自主制作的一系列课程服务（包括但不限于课程视频、练习、考试、课程资料等）。除非本协议另有其他明示规定，我们增加或强化此服务的任何新功能，包括所推出的新产品，均受到本协议之规范。您了解并同意，本协议仅依当前所呈现的状况提供，<strong>对于任何用户信息或个人化设定之失效、删除、传递错误、未予储存或其他任何问题，我们均不承担任何责任。我们保留不经事先通知因运营需要、升级或其他目的而暂停服务任何部分的权利。</strong>
    </p>
    <h4>三、遵守法律</h4>
    <p>您同意遵守中华人民共和国相关法律法规的所有规定，并对以任何方式通过本人的账号和密码使用英荔服务的任何行为及其结果承担全部责任。如您的行为违反国家法律和法规的任何规定，有可能构成犯罪的，将被追究刑事责任，并由您承担全部法律责任。
    </p>
    <p>同时，<strong>如果英荔有理由认为您的任何行为，包括但不限于您的任何言论和其他行为违反或可能违反国家法律和法规的任何规定，我们可在任何时候不经任何事先通知终止向您提供服务。</strong></p>
    <h4>四、用户账号、密码及安全</h4>
    <p>
      英荔账号是由英荔拥有所有权和管理权的用于识别用户身份以及向用户提供服务的标识和工具，您作为初始注册申请人仅拥有您所注册的账号的使用权。完成注册程序并成功注册之后，您可使用您的邮箱地址及/或手机号码和密码，登录您的英荔账号（以下简称「账号」）。<strong>您须承担保障自己账号安全的责任。</strong>
    </p>
    <p>您应对所有使用的密码及账号的活动负全部责任。您同意：</p>
    <p>1. 您的账号遭到未获授权的使用，或者发生其他任何安全问题时，将立即通知英荔进行相应处理；</p>
    <p>2. 您应妥善保管好您的账号及密码。<strong>如您因未保管好自己的账号及密码，而对您本人、英荔或第三方造成任何损害，您将负全部责任。</strong></p>
    <h4>五、用户的注册义务</h4>
    <p>
      <strong>您保证在注册英荔账号时提交的注册信息真实、准确、合法、有效，且为属于您本人的信息。</strong>若注册英荔账号后信息有变更，您应及时登录账号更新信息。您使用英荔账号除应该遵守当地国家的法律法规之外，还应该遵守社会公序良俗和一般伦理道德，不得侵犯任何英荔或第三方的合法权益。<strong>若您提供任何违法或英荔认为不适合在网站或移动应用程序上展示的信息，英荔有权暂停或终止您的账号，并拒绝您于现在和未来使用英荔网站和移动应用程序之全部或任何部分，并无须对您的任何登记信息承担任何责任。</strong>
    </p>
    <h4>六、隐私政策</h4>
    <p>
      我们与您一同致力于您个人信息的保护。保护用户个人信息是我们的基本原则之一，在使用英荔网站、移动应用程序及相关服务的过程中，您可能需要提供您的个人信息（包括但不限于您的电话号码、头像照片信息、设备信息等），以便我们向您提供更好的服务和相应的技术支持。我们将依法保护您浏览、修改、删除相关个人信息以及撤回授权的权利，并将运用相关技术措施保护您的个人信息。您提供的个人信息及我们保留的有关您的其他资料将受到中国有关隐私的法律和我们的《隐私政策》之规范的约束。
    </p>
    <p><strong>更多关于您个人信息保护的内容，请参看我们的《隐私政策》。</strong></p>
    <h4>七、提供者之责任</h4>
    <p>
      根据有关法律法规，我们在此郑重提醒您注意，<strong>任何经由英荔网站或移动应用程序上传的文字、资料、照片、图形、信息或其他资料（以下简称「内容」），无论是公开还是私下传送，均由您承担责任。</strong>我们仅为您提供内容存储空间，无法控制经由英荔传送之内容，因此不保证内容的正确性、完整性或品质。<strong>在任何情况下，我们有权根据自身的判断或法律与政策的需要，自主决定并可在不预先通知您的情况下，依法全部或部分地选择采取技术手段删除、屏蔽相关不当内容；停止传输任何前述内容并采取相应行动，包括但不限于暂停您使用英荔服务的全部或部分，保存有关记录，并诉诸相关司法机关，以追究相应法律责任。</strong>
    </p>
    <h4>八、用户行为</h4>
    <p><strong>您同意将不会利用英荔服务进行任何违法或不正当的活动，包括但不限于下列行为：</strong></p>
    <p>1. 上传或以其他方式传送含有下列内容之一的信息：</p>
    <ul>
      <li>
        反对宪法所确定的基本原则的；</li>
      <li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
      <li>损害国家荣誉和利益的；</li>
      <li>煽动民族仇恨、民族歧视、破坏民族团结的；</li>
      <li>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
      <li>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
      <li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
      <li>侮辱或者诽谤他人，侵害他人合法权利的；</li>
      <li>含有虚假、诈骗、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其他道德上令人反感的内容；</li>
      <li>含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其他内容的；</li>
      <li>含有我们认为不适合在英荔展示的内容；</li>
    </ul>
    <p>2. 以任何方式危害他人的合法权益；</p>
    <p>3. 冒充其他任何人或机构，或以虚伪不实的方式陈述或谎称与任何人或机构有关；</p>
    <p>4. 将设计目的在于干扰、破坏或限制任何计算机软件、硬件或通讯设备功能之计算机病毒（包括但不限于木马程序、蠕虫、定时炸弹等）或其他计算机代码、档案和程序之任何资料，加以上传或以其他方式传送；</p>
    <p>5. 故意或非故意地违反任何适用的当地、国家法律，以及任何具有法律效力的规则；</p>
    <p>6. 未经合法授权而截获、篡改、收集、储存或删除他人个人信息、站内邮件或其他数据资料，或将获知的此类资料用于任何非法或不正当目的。</p>
    <p>您已认可我们未对您的使用行为进行全面控制，您使用任何内容时，包括依赖前述内容之正确性、完整性或实用性时，您同意将自行加以判断并承担所有风险，而不依赖于英荔。<strong>
        但我们依自行之考虑，可拒绝和删除经由我们提供之违反本协议的或其他引起我们异议的任何内容。</strong></p>
    <h4>九、国际使用之特别警告</h4>
    <p>您已了解国际互联网的无国界性，同意遵守当地所有关于网上行为及内容之法律法规。您同意遵守有关从中国或您所在国家或地区输出信息之传输的所有适用法律法规。</p>
    <h4>十、赔偿</h4>
    <p>
      由于您通过英荔服务提供或传送之内容、您与英荔网站或移动应用程序连线、您违反本协议、或您侵害他人任何权利而衍生或导致任何第三人提出任何索赔或请求，包括合理的律师费，您同意赔偿英荔及其子公司、关联企业、高级职员、代理人、品牌共有人或其他合作伙伴及员工，并使其免受损害，
      并承担由此引发的全部法律责任。</p>
    <h4>十一、关于使用</h4>
    <p>您同意不对英荔服务的任何部分或英荔服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其他商业目的。</p>
    <h4>十二、关于储存</h4>
    <p>通过英荔上传或传送之任何信息、通讯资料和其他内容，如被删除或未予储存，您同意我们毋须承担任何责任。</p>
    <h4>十三、服务的变更、中断和终止</h4>
    <p>
      您理解并同意，我们的网站、移动应用程序及相关服务是按照现有技术和条件所能达到的现状提供的。我们会尽最大努力向您提供服务，确保服务的连贯性和安全性。您理解，我们不能随时或始终预见和防范法律、技术以及其他风险，包括但不限于不可抗力、网络原因、第三方服务纰漏、第三方网站等原因可能导致的服务中断、不能正常使用英荔网站及相关服务以及其他的损失和风险。
    </p>
    <p>
      您理解并同意，我们基于整体服务运营、平台运营安全的需要（包含但不限于长期对账号无任何操作，或我们认为您已经违反本协议的文字及精神），有权视具体情况终止您的账号或英荔服务之使用（或服务之任何部分）并将您在英荔网站及移动应用程序内的任何内容加以移除并删除；有权视具体情况修改、中断、中止或终止英荔网站、移动应用程序及相关服务。您承认并同意，英荔可立即关闭或删除您的账号及您账号中所有相关信息及文件，及/或禁止继续使用英荔的产品及服务。此外，<strong>您同意若英荔网站、移动应用程序及相关服务被修改、中断、中止或终止或您的账号及相关信息和文件被关闭或删除，我们对您或任何第三人均不承担任何责任。</strong>
    </p>
    <h4>十四、英荔之专属权利</h4>
    <p>
      您了解并同意，经由英荔网站或移动应用程序向您呈现之信息，受到著作权、商标权、服务商标、专利权或其他专属权利之法律保护。未经我们明示授权，您不得修改、出租、出借、出售、散布英荔受法律保护之信息的任何部份或全部，或据以制作衍生著作，或使用擅自修改后的软件。我们仅授予您个人不可移转及非专属之使用权，您不得（并不得允许任何第三人）复制、修改、创作衍生著作、进行还原工程、反向组译，或以其他方式发现原始码，或出售、转让、再授权或提供软件设定担保，或以其他方式移转软件之任何权利。您同意将通过由我们所提供的界面而非任何其他途径使用英荔的服务。
    </p>
    <h4>十五、英荔商标信息</h4>
    <p>
      「英荔教育」、「英荔商学院」、「英荔」以及其他英荔注册商标、标志及产品、服务名称，均为英荔公司之商标（以下简称「英荔标记」）。未经我们事先书面同意，您未获得权利使用任何英荔标记。您保证、陈述并承诺您尊重英荔的知识产权。<strong>您不会以自己名义或促使第三方，也不会同意或放任任何第三方，为了其任何营销、广告、促销或其他目的，在任何法域、以任何方式申请与英荔或英荔关联公司商标相似的商标、域名、无线网站、互联网搜索词或任何商号、服务标志。</strong>如出现上述情况，您须将所有相关权利转让给英荔，费用由您承担。如因您违反本条款约定而给英荔造成损失的，该损失全部由您承担。
    </p>
    <h4>十六、用户专属权利</h4>
    <p>我们尊重他人的任何权利（包括知识产权），同时也要求我们的使用者也尊重他人之权利。<strong>在适当情况下，我们可自行决定终止侵害或违反他人权利之使用者的账号。</strong></p>
    <p>您在英荔帐号上传文字、图片或资料等信息的行为视同为对英荔非独占地、永久地、不可撤销地授予该等信息的使用、复制等权利。</p>
    <p>
      英荔之服务与资料是基于「现状」提供，而且英荔明确地表示拒绝对于「服务」、「资料」或「产品」给予任何明示或暗示之保证，包括但不限于，为商业使用或适合于特定目的之保证。<strong>英荔对于因「服务」、「资料」或「产品」所产生之任何直接、间接、附带的或因此而导致之衍生性损失概不负责。</strong>
    </p>
    <p>
      若您认为自己的作品著作权遭到侵害或您的知识产权被侵犯，根据《信息网络传播权保护条例》的规定，您需及时向英荔联系并提供详实的举证材料。或请到中华人民共和国国家版权局下载《要求删除或断开链接侵权网络内容的通知》（下称「删除通知」）的示范格式，如果您不明白「删除通知」的内容，请登录中华人民共和国国家版权局查看《要求删除或断开链接侵权网络内容的通知》填写说明。
    </p>
    <h4>十七、一般条款</h4>
    <p>
      1.
      由于互联网更新迭代快，您与英荔签定的本协议列明的条款可能并不能完整罗列并覆盖您与英荔所有的权利与义务，现有的约定亦不能保证完全符合未来发展的需求。因此，英荔的《隐私政策》及其他公布的条款（如有）等均为本协议的补充协议，与本协议不可分割且具有同等法律效力。如您使用英荔的服务，视为您同意上述补充协议；
    </p>
    <p>2. 本协议及您与英荔之关系，均受到中华人民共和国法律管辖。您与英荔就本协议或其他有关事项发生的争议，应首先友好协商解决，协商不成时应提请中国国际经济贸易仲裁委员会仲裁，仲裁裁决是终局性的，对双方均有约束力；</p>
    <p>3. 英荔未行使或执行本协议任何权利或规定，不构成对前述权利或权利之放弃；</p>
    <p>4. 倘本协议之任何规定因与中华人民共和国法律抵触而无效，您依然同意应依照法律，努力使该规定所反映之当事人意向具备效力，且本协议其他规定仍应具有完整的效力；</p>
    <p>5. 英荔对本协议享有最终解释权。</p>
    <p>请您在发现任何违反本协议以及其他任何补充协议条款、英荔各类公告之情形时，通知我们。如您对本协议、产品或服务有任何意见、建议或疑问，欢迎通过以下方式向我们反馈。</p>
    <ul>
      <li>电话：400-931-8118（周一至周五 9:00 - 18:00）</li>
      <li>邮箱：support@elitemba.cn</li>
      <li>地址：广州市天河区天河北路 233 号中信广场写字楼 1005 室</li>
      <li>邮政编码：510620</li>
    </ul>
    <p>本用户协议生效日期：2019 年 12 月 13 日</p>
</div>
